* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* common styles */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  padding: 13px 30px;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  padding: 13px 30px;
  border-radius: 3px;
  font-size: 18px;
  margin-left: 18px;
  cursor: pointer;
}
/* header and navbar styles */
header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}
nav li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.banner {
  display: flex;
  align-items: center;
  margin: 0 50px 0 150px;
}
.banner-subtitle {
  font-size: 35px;
  font-weight: 600;
}
.banner-title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  margin-bottom: 30px;
}
.btn-group {
  display: flex;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section style */
.about {
  margin-top: 130px;
  padding: 130px 150px;
  background-color: #fff8f3;
  border-radius: 5px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.info-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-container {
  text-align: center;
}
.info-title {
  color: #757575;
  font-weight: 500;
  font-size: 20px;
}
.info-description {
  color: #474747;
  font-weight: 700;
  font-size: 20px;
}
/* what i do section style */
.what-i-do {
  margin: 130px 0;
}
.what-i-do > p {
  padding: 0 150px;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.skill {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill img {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.skill-description {
  font-size: 16px;
  color: #757575;
}
